//
// Post Type Settings
// --------------------------------------------------
.simple-favorites-post-types {
	@include wptable();
	background-color: $white;
	margin-bottom: 3em;
	.post-type-row {
		@include clearfix;
		border-top: 1px solid $border;
		position: relative;
		&:first-child {
			border: 0;
		}
	}
	.post-type-checkbox {
		position: absolute;
		left: 0;
		top: 0;
		width: 46px;
		height: 46px;
		background-color: $gray-lighter;
		border-right: 1px solid $border;
		text-align: center;
		line-height: 46px;
		input[type="checkbox"]{
			margin: 0;
		}
	}
	.post-type-name {
		line-height: 46px;
		padding: 0 8px 0 54px;
		.button {
			float: right;
			margin-top: 9px;
		}
	}
	.post-type-settings {
		display: none;
		.row {
			display: table;
			width: 100%;
			border-collapse: collapse;
			border-top: 1px solid $border;
		}
		.description {
			display: table-cell;
			width: 25%;
			padding: 20px 10px;
			background-color: $gray-lighter;
			border-right: 1px solid $border;
			vertical-align: top;
			h5 {
				margin: 0 0 5px 0;
				font-size: 1.1em;
				line-height: 1.2;
				color: $black;
			}
			p {
				margin: 0;
				font-size: .9em;
				line-height: 1.3;
				color: darken($white, 50%);
			}
		} // .description
		.field {
			padding: 20px 10px;
			vertical-align: top;
			label.block {
				display: block;
				margin-bottom: 3px;
			}
			input[type="text"],
			select {
				width: 100%;
			}
		}
	} // .post-type-settings
} // .simple-favorites-post-types