//
// Admin Settings - Display
// --------------------------------------------------
.simple-favorites-posttype-locations {
	background-color: darken($white, 10%);
	padding: 8px;
	margin: 5px 0px 10px 0px;
	label {
		display: block;
		margin-top: 5px;
		&:first-child {
			margin: 0;
		}
	}
}

.simple-favorites-display-settings {
	@include wptable;
	background-color: $white;
	margin-bottom: 3em;
	.row {
		display: table;
		width: 100%;
		border-top: 1px solid $border;
		&:first-child {
			border: 0;
		}
	}
	.description {
		display: table-cell;
		width: 25%;
		padding: 20px 10px;
		background-color: $gray-lighter;
		border-right: 1px solid $border;
		vertical-align: top;
		h5 {
			margin: 0 0 5px 0;
			font-size: 1.1em;
			line-height: 1.2;
			color: $black;
		}
		p {
			margin: 0;
			font-size: .9em;
			line-height: 1.3;
			color: darken($white, 50%);
		}
	} // .description
	.field {
		padding: 20px 10px;
		vertical-align: top;
		label.block {
			display: block;
			margin-bottom: 3px;
		}
		input[type="text"],
		select {
			width: 100%;
		}
		.require-consent-modal-content {
			display: none;
		}
		.authentication-modal-content {
			padding-top: 2em;
			display: none;
		}
		.anonymous-redirect-content {
			display: none;
			background-color: $gray-lighter;
			padding: .75em;
			border: 1px solid $border;
			margin-top: 1em;
		}
		.color-options {
			margin-top: 1em;
			border: 1px solid $border;
			border-radius: 3px;
			.option-group {
				background-color: $gray-lighter;
				padding: .5em;
			}
			.option {
				@include clearfix;
				border-top: 1px solid $border;
				padding: .5em 0;
				.wp-color-result {
					margin: 0;
				}
				label {
					float: left;
					width: 150px;
				}
				&.box-shadow {
					label {
						float: none;
						width: auto;
					}
				}
			} // .option
			.wp-picker-open+.wp-picker-input-wrap {
				display: block;
				padding-top: 1em;
				@include clearfix;
				input[type="text"]{
					float: left;
					width: 100px;
				}
			}
		} // .color-options
	} // .field
} // simple-favorites-display-settings

.favorite-button-previews {
	display: none;
	button {
		display: none;
	}
}

