//
// Buttons
// --------------------------------------------------

.simplefavorite-button {
	&.active {
		opacity: .7;
	}
	&.has-count {
		position: relative;
	}
}

// loading indicator
.simplefavorites-loading {
	margin-left: 8px;
}