//
// Buttons
// --------------------------------------------------
.simplefavorite-button {
	&.active {
		opacity: .7;
	}
	&.has-count {
		position: relative;
	}
}

// Preset Buttons
.simplefavorite-button.preset {
	display: inline-block;
	-webkit-appearance: none;
	appearance: none;
	border: 0;
	background: transparent;
	background-color: $white;
	border: 1px solid darken($white, 20%);
	box-shadow: 0px 0px 2px 0px rgba(0,0,0,.1), 1px 1px 1px 0px rgba(0,0,0,.1);
	padding: .5em 1em .5em 2em;
	position: relative;
	border-radius: 2px;
	cursor: pointer;
	transition: all 200ms ease;
	&:active, &:focus {
		outline: none;
	}
	i {
		position: absolute;
		font-size: 1.3em;
		left: .3em;
	}
	&:hover {
		background-color: $black;
		border-color: $black;
		color: $white;
		transition: all 200ms ease;
	}
	&.active {
		background-color: $black;
		color: $white;
		border-color: $black;
		opacity: 1;
	}
} // .preset

// loading indicator
.simplefavorites-loading {
	margin-left: 8px;
}

.sf-icon-spinner-wrapper {
	display: inline-block;
	position: relative;
	min-width: 1em;
	min-height: 1em;
}

.sf-icon-spinner {
	animation: sf_rotate linear 2s infinite;
	position: absolute;
	top: .15em;
	left: 0;
}

@keyframes sf_rotate {
	0% {
		transform: rotate(0deg);
		transform-origin: center center;
	}
	50% {
		transform: rotate(180deg);
		transform-origin: center center;
	}
	100% {
		transform: rotate(360deg);
		transform-origin: center center;
	}
}