//
// Variables
// --------------------------------------------------
$black: #333;
$white: #ffffff;
$gray-lighter: #f9f9f9; // WP BG

$border: #e1e1e1;
$border-light: #e5e5e5;

$blue: #0074a2; // WP Blue
$red: #e14d43; // WP red