.simplefavorite-button.active {
  opacity: .7;
}

.simplefavorite-button.has-count {
  position: relative;
}

.simplefavorite-button.preset {
  display: inline-block;
  -webkit-appearance: none;
  -moz-appearance: none;
       appearance: none;
  border: 0;
  background: transparent;
  background-color: #ffffff;
  border: 1px solid #cccccc;
  -webkit-box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.1), 1px 1px 1px 0px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.1), 1px 1px 1px 0px rgba(0, 0, 0, 0.1);
  padding: .5em 1em .5em 2em;
  position: relative;
  -webkit-border-radius: 2px;
          border-radius: 2px;
  cursor: pointer;
  -webkit-transition: all 200ms ease;
  -o-transition: all 200ms ease;
  transition: all 200ms ease;
}

.simplefavorite-button.preset:active, .simplefavorite-button.preset:focus {
  outline: none;
}

.simplefavorite-button.preset i {
  position: absolute;
  font-size: 1.3em;
  left: .3em;
}

.simplefavorite-button.preset:hover {
  background-color: #333;
  border-color: #333;
  color: #ffffff;
  -webkit-transition: all 200ms ease;
  -o-transition: all 200ms ease;
  transition: all 200ms ease;
}

.simplefavorite-button.preset.active {
  background-color: #333;
  color: #ffffff;
  border-color: #333;
  opacity: 1;
}

.simplefavorites-loading {
  margin-left: 8px;
}

.sf-icon-spinner-wrapper {
  display: inline-block;
  position: relative;
  min-width: 1em;
  min-height: 1em;
}

.sf-icon-spinner {
  -webkit-animation: sf_rotate linear 2s infinite;
          animation: sf_rotate linear 2s infinite;
  position: absolute;
  top: .15em;
  left: 0;
}

@-webkit-keyframes sf_rotate {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
    -webkit-transform-origin: center center;
            transform-origin: center center;
  }
  50% {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
    -webkit-transform-origin: center center;
            transform-origin: center center;
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
    -webkit-transform-origin: center center;
            transform-origin: center center;
  }
}

@keyframes sf_rotate {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
    -webkit-transform-origin: center center;
            transform-origin: center center;
  }
  50% {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
    -webkit-transform-origin: center center;
            transform-origin: center center;
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
    -webkit-transform-origin: center center;
            transform-origin: center center;
  }
}

.favorites-list {
  list-style: none;
}

.favorites-list li {
  zoom: 1;
  border-top: 1px solid rgba(0, 0, 0, 0.2);
  padding: .75em 0;
  margin: 0;
}

.favorites-list li:before, .favorites-list li:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}

.favorites-list li:after {
  clear: both;
}

.favorites-list li img {
  float: left;
  margin-right: 1em;
}

.simplefavorites-modal-backdrop {
  position: fixed;
  width: 0;
  height: 0;
  background-color: rgba(0, 0, 0, 0.85);
  top: 0;
  left: 50%;
  z-index: 998;
  opacity: 0;
  -webkit-transition: opacity 200ms ease;
  -o-transition: opacity 200ms ease;
  transition: opacity 200ms ease;
}

.simplefavorites-modal-backdrop.active {
  width: 100%;
  height: 100%;
  left: 0;
  opacity: 1;
  -webkit-transition: opacity 200ms ease;
  -o-transition: opacity 200ms ease;
  transition: opacity 200ms ease;
}

.simplefavorites-modal-content {
  z-index: 999;
  position: fixed;
  top: -200%;
  left: 50%;
  width: 50%;
  background-color: #ffffff;
  -webkit-border-radius: 2px;
          border-radius: 2px;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  -webkit-transition: all 200ms ease;
  -o-transition: all 200ms ease;
  transition: all 200ms ease;
  -webkit-box-shadow: 2px 2px 20px 0px rgba(51, 51, 51, 0.5);
          box-shadow: 2px 2px 20px 0px rgba(51, 51, 51, 0.5);
}

.simplefavorites-modal-content.small {
  width: 400px;
}

.simplefavorites-modal-content.active {
  top: 50px;
  -webkit-transition: all 200ms ease;
  -o-transition: all 200ms ease;
  transition: all 200ms ease;
}

.simplefavorites-modal-content.loading .modal-content-body {
  display: none;
}

.simplefavorites-modal-content.loading .modal-content-loading {
  display: block;
}

.simplefavorites-modal-content-body {
  padding: 1em;
  max-height: 300px;
  overflow: auto;
  zoom: 1;
}

.simplefavorites-modal-content-body:before, .simplefavorites-modal-content-body:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}

.simplefavorites-modal-content-body:after {
  clear: both;
}

.simplefavorites-modal-content-body.no-padding {
  padding: 0;
}

.simplefavorites-modal-content-body.has-footer {
  padding-bottom: 0;
}

.simplefavorites-modal-content-interior {
  padding: 1em;
  padding-bottom: 0;
}

.simplefavorites-modal-content-footer {
  zoom: 1;
  padding: .7em;
  -webkit-border-radius: 0 0 2px 2px;
          border-radius: 0 0 2px 2px;
  background-color: rgba(51, 51, 51, 0.1);
}

.simplefavorites-modal-content-footer:before, .simplefavorites-modal-content-footer:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}

.simplefavorites-modal-content-footer:after {
  clear: both;
}

.simplefavorites-button-consent-deny {
  float: left;
  opacity: .7;
}

.simplefavorites-button-consent-accept {
  float: right;
}

@media (max-width: 767px) {
  .simplefavorites-modal-content {
    width: 90%;
  }
  .simplefavorites-modal-content.active {
    top: 20px;
  }
  .simplefavorites-modal-content-body {
    height: 300px;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
    overflow-x: hidden;
  }
}

@media print {
  .simplefavorites-modal-backdrop,
  .simplefavorites-modal-content {
    display: none;
  }
}

@font-face {
  font-family: 'favorites';
  src: url("fonts/favorites.eot");
}

@font-face {
  font-family: 'favorites';
  src: url("data:application/x-font-ttf;charset=utf-8;base64,AAEAAAALAIAAAwAwT1MvMg8SBwcAAAC8AAAAYGNtYXClTaJoAAABHAAAAIxnYXNwAAAAEAAAAagAAAAIZ2x5Ztq6v+MAAAGwAAAEVGhlYWQN7PEkAAAGBAAAADZoaGVhB8IDzgAABjwAAAAkaG10eCoAAgwAAAZgAAAANGxvY2EE9AZcAAAGlAAAABxtYXhwABEAdQAABrAAAAAgbmFtZWwpt2EAAAbQAAABnnBvc3QAAwAAAAAIcAAAACAAAwPNAZAABQAAApkCzAAAAI8CmQLMAAAB6wAzAQkAAAAAAAAAAAAAAAAAAAABEAAAAAAAAAAAAAAAAAAAAABAAADqEAPA/8AAQAPAAEAAAAABAAAAAAAAAAAAAAAgAAAAAAADAAAAAwAAABwAAQADAAAAHAADAAEAAAAcAAQAcAAAABgAEAADAAgAAQAg5gHofeia6Nzo5ul76dnqEP/9//8AAAAAACDmAOh96Jro3Ojm6Xvp2eoQ//3//wAB/+MaBBeJF20XLBcjFo8WMhX8AAMAAQAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAABAAH//wAPAAEAAAAAAAAAAAACAAA3OQEAAAAAAQAAAAAAAAAAAAIAADc5AQAAAAABAAAAAAAAAAAAAgAANzkBAAAAAAIAIP/2A+ADigARABsAAAEfATMPAR8BLwEPAT8BLwEzNxMDIQUDJQUDLQECADMN1oknDTOJJyaKNw0nidYQQHP+kwEmcAEqASZwASr+kwK9oy1jGi2jYxoaY6MtHWYtAWr+o9r+o9fXAV3XAwAAAAABACD/9gPgA4oACQAAAQ0BEyUFEyUhEwJzAW3+1nD+2v7WcP7aAW1zAi0D1/6j19MBXNcBXQAAAAEAVgAdA6oDKwAbAAAlJy4DNTQ+AjMyFhc+ATMyHgIVFA4CBwIAPlKHXzQkP1UyN2YjImY4MVY/JDRfhlMdOEt/dHE9MVY/JDIoKDIkP1YxPXF2f0sAAAADAFYAAQOqA1UAFQAhADsAAAE+ATU0JiMiBg8BJy4BIyIGFRQWHwEBMjY1NCYjIgYVFBYFHgEVFAYHAQ4BIyImJwEuATURNDYzITIWFwLgDxE+LBYnDyAeDyYXKz8PD7b+wBslJRsbJSUCwwwMDAz+1AweEhIeDP6ADAwxIwEsEh4MAR8PJhcrPw8PICAPDz8rFyYPtgIYJRsbJSUbGyXEDB4SEh4M/tQMDAwMAYAMHhIBLCIyDAwAAgAqACsD1gOBABwAIAAAAQczFRQGBwMOASMhIiY1ETQ2NwEXHgEdAQchMhYBETMRA9YCAgMDggkqG/6AIjQODAEYLgkJKgEOIjT8VKwCAQRSCRAH/tQXHTMjAaoSHgwBGi4JFg0OxDL+CAIA/gAAAAEA1gArAyoDKwAKAAABMhYVESUFETQ2MwLWIjL+1v7WMSMDKzQi/VaAgAKqIjQAAAIAIP/wBAADsAA6AHIAAAEuAScuAScuAScuAQcOAQcOAQcOAQcOARceARceARceARceATc+ATc+ATc+ATc+ATc6ATMyNjU8ATUxBw4BBw4BBw4BJy4BJy4BJy4BJy4BNz4BNz4BNz4BNz4BFx4BFx4BFx4BFx4BBzEcARUUFhcOAQcEAAEVFRQ5JCNULi1hMTFfLC1PISE0ERIQAQEUExM2ISJOKytaLi5ZKSlLHh8xEAkOAwECARslZhEzHx9JKChVKipTJyZFHR0sDw8OAQESEBEuHR5DJSVPJydNJCNAGhspDg0NASEYBQ8LAcAyYy0uUiIjNRISEQEBFRMUNyMiUS0sXi8vXCsrTSAgMhAREAEBFBISNCEgTCkZNBslGwEDAaooRx4eLhAPDwEBEhERMR4eRyYnUSkpUCUlQhwbKw4PDQEBERAQLRwcQSQjSyYBAwEZJAMaMxgAAAEAAP/ZBAADpwAKAAABJQsBDQEDJQUDJQQA/p6env6eAQA8ATwBPDwBAAIzMwFB/r8z+v6gpqYBYPoAAAEAAAAgBAADQAAFAAAJAScHCQEDYP4g4KABgAKAA0D+IOCg/oACgAABAAAAAQAAvj/AY18PPPUACwQAAAAAANVm1k8AAAAA1WbWTwAA/9kEAAOwAAAACAACAAAAAAAAAAEAAAPA/8AAAAQAAAAAAAQAAAEAAAAAAAAAAAAAAAAAAAANBAAAAAAAAAAAAAAAAgAAAAQAACAEAAAgBAAAVgQAAFYEAAAqBAAA1gQAACAEAAAABAAAAAAAAAAACgAUAB4AVgByAJ4A+gEyAUoB+AIWAioAAQAAAA0AcwADAAAAAAACAAAAAAAAAAAAAAAAAAAAAAAAAA4ArgABAAAAAAABAAkAAAABAAAAAAACAAcAcgABAAAAAAADAAkAPAABAAAAAAAEAAkAhwABAAAAAAAFAAsAGwABAAAAAAAGAAkAVwABAAAAAAAKABoAogADAAEECQABABIACQADAAEECQACAA4AeQADAAEECQADABIARQADAAEECQAEABIAkAADAAEECQAFABYAJgADAAEECQAGABIAYAADAAEECQAKADQAvGZhdm9yaXRlcwBmAGEAdgBvAHIAaQB0AGUAc1ZlcnNpb24gMS4wAFYAZQByAHMAaQBvAG4AIAAxAC4AMGZhdm9yaXRlcwBmAGEAdgBvAHIAaQB0AGUAc2Zhdm9yaXRlcwBmAGEAdgBvAHIAaQB0AGUAc1JlZ3VsYXIAUgBlAGcAdQBsAGEAcmZhdm9yaXRlcwBmAGEAdgBvAHIAaQB0AGUAc0ZvbnQgZ2VuZXJhdGVkIGJ5IEljb01vb24uAEYAbwBuAHQAIABnAGUAbgBlAHIAYQB0AGUAZAAgAGIAeQAgAEkAYwBvAE0AbwBvAG4ALgAAAAMAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA=") format("truetype");
  font-weight: normal;
  font-style: normal;
}

[class^="sf-icon-"], [class*=" sf-icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'favorites' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.sf-icon-spinner:before {
  content: "\e97b";
}

.sf-icon-favorite:before {
  content: "\e9d9";
}

.sf-icon-checkmark:before {
  content: "\ea10";
}

.sf-icon-bookmark:before {
  content: "\e8e6";
}

.sf-icon-love:before {
  content: "\e87d";
}

.sf-icon-wishlist:before {
  content: "\e89a";
}

.sf-icon-like:before {
  content: "\e8dc";
}

.sf-icon-star-empty:before {
  content: "\e600";
}

.sf-icon-star-full:before {
  content: "\e601";
}
